<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- JDBC Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/flight_search</property>
		<property name="connection.username">vishal</property>
		<property name="connection.password">vishal1234</property>
		<property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>
		<property name="connection.pool_size">100</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<!-- <mapping class="com.nagarro.training.entity.*"/> -->
		<mapping class="com.nagarro.flightsearchweb.entity.User" />
		<mapping class="com.nagarro.flightsearchweb.entity.Flight" />

	</session-factory>
</hibernate-configuration>